{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .createbody{
        background-image: url("{% static '/images/bmsuserauth.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 40%;
        margin-top: 10%;
            
      }
    
    </style>
</head>
<body class="text-light createbody">
  <div class="container mt-4">
    <div class="row">
      <div class="col">
    
       <form action="" method="post" >
          <div class="row">
            <label for="email">ENTER YOUR emailid</label>
            <input type="email" name="email" id="email" class="w-25 rounded" required>
          </div>
          <div class="row">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" class="w-25 rounded" required>
          </div>
          <div class="row">
            <input type="submit" value="submit" class="btn btn-primary w-25 mt-3">
          </div>
          <div class="row">
            <input type="button" value="sign up" class="btn btn-success w-25 mt-3">
          </div>
        </form>
      </div>

  
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
</body>
</html>